body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
		flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: #1a202c;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
		color: #ed8936;
    font-family: sans-serif;
}

.main {
	display: flex;
	height: 100%;
	width: 100%;
}

.container {
    background-color: #1a202c;
    padding: 20px;
		height: 50%;
		width: 50%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
		margin: 50px;
}

#showcase {
	height: 70%;
}

button, input{
    background-color: #ed8936;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #005689;
}

input {
    margin-bottom: 10px;
}

.team-members {
    margin-top: 20px;
}

.team-member {
    margin-top: 20px;
}

.team-member img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}



/* COPIED AND PASTED FROM INDEX.HTML
 * gilk forgot that css file exist LOL
 * (issoke we forgive bc he is a cutie) */
/*Creating a color variable*/
:root {
		--midnight-blue: #07071c;
}

body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
		min-height:150vh;
		background-color: var(--midnight-blue); /*Using the custom color*/
		color: #ffffff; /*Set text color to white*/
}

.header {
		text-align: center;
		background-color: var(--midnight-blue);
}

.container {
		text-align: center;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 8px;
		height:auto;
		background-color: var(--midnight-blue);
		color: #ffffff; /*Set text color to white*/
		max-width: 300px;
		margin-top: 20px; /*Add margin to the top of the container*/
}
.sidebar {
		position: fixed;
		top: 0;
		right: 0;
		text-align: center;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 8px;
		height:auto;
		background-color: var(--midnight-blue);
		color: #ffffff; /*Set text color to white*/
		width: 300px;
		margin-top: 20px; /*Add margin to the top of the container*/
		margin-right: 20px;
}
.sidebar ul {
		list-style: none;
}